$color:red;
.box{
    padding: 0 10px ;

.title{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size:16px;
    .title_left{
        width: 80%;
    }
    i{
        
        font-size: 16px;
    }
}
}