.font_dark{
   color: white;
}
.font_light{
   color: #333;
}

.outerLayer{

   padding-bottom: 45px;
   ::-webkit-scrollbar{
    display: none;
   }
}
.box{

   display: flex;
   width: 100%;
   justify-content: center;
   padding-top: 10px;

   .box_left,.box_right{
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
     
      i{
         font-size: 20px;
      }
   }

      .box_input{
      flex: 1;
      padding: 5px 0 5px  30px;
      // border: 1px solid rgb(219, 219, 219);
      border-radius: 50px;
      position: relative;
      background: rgb(243, 244, 246);
      .icon{
         position: absolute;
         color: rgb(118, 110, 134);
         left: 5px;
         top: 7px;
      }
   }

 
}

.navs{
  
   ::-webkit-scrollbar{
      width: 0;
   }
   ul{
      
      display: flex;
      width: 100%;

      overflow-y: auto;
   
   
      li{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         width: 50%;
         img{
            width: 40px;
            padding: 0 18px 5px 18px;
         }
         span{
            font-size: 12px;
         }
      }
   }
}



